<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style>
    .bg-gray-lighter{
        background-color: #22211f;
    }
    .bg-gray{
        background-color: #f4f4f4;
    }
    .footer{
        text-align: center;
        font-size: 12px;
        background-color: #13505e;
    }
    .footer a{
        color: #888;
        text-decoration: none;

        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .footer a:hover{
        color: #111;
        text-decoration: underline;
    }
    .footer-text{
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.5em;
    }
    .footer-made{
        font-size: 11px;
        color: #999;
    }


    .footer-social-links{
        font-size: 14px;
    }
    .footer-social-links a{
        width: 25px;
        height: 25px;
        line-height: 25px !important;
        position: relative;
        margin: 90 px;
        text-align: center;
        display: inline-block;
        color: #fff;
        background: transparent;

        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .footer-social-links a i,
    .footer-social-links a span{
        position: relative;
        top: 0;
        left: 0;
    }
    .footer-social-links a:before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #fff;
        background: transparent;

        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;



        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

    }
    .footer-social-links a:hover{
        color: #5b5b5b;
        background: transparent;
    }
    .footer-social-links a:hover:before{
        background: #fff;
    }
    .form input {
        margin-top: 5px;
        margin-bottom: 5px;
        text-indent: 15px;
        background-image: url(http://beta.rabbitdrop.com/assets/place-ecb964e192da9a35fc1eae1f0024e4eb4e205a5dc243efb5fb6b66af21a58ede.jpg);
        background-repeat: no-repeat;
        background-position: right 10px center;
    }

    .cart-info {
        color : #FFFFFF;
    }



    .bgimg {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        top:0px;
        overflow: hidden;
        left: 0px;
    }

    /*    .showfootertext{
            display: none;
        }
        .markerhover:hover .showfootertext{
            position: relative;
            display : block;
        }*/
    .markerhover{
        padding: 0px;
        position: relative;
        width: 33px;
    }


</style>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><!--<![endif]-->


  <meta charset="utf-8">
<title>Stores</title>
<meta property="og:title" content="Rabbit Drop">
<meta property="og:url" content="http://beta.rabbitdrop.com">
<meta property="og:type" content="website">
<meta property="og:description" content="Can&#39;t make time to get grocery? Just log in to our website, fill your cart and checkout. Then sit back and relax to find your groceries outside your door within 60 minutes.">
<meta property="og:image" content="http://rabbitdrop.com/assets/posterimage-9c78e6437b9fb3213e7be0fc55a5ab2232f59aa07028a5f1cbe47453d42a8298.png">
<meta name="google-site-verification" content="pBN6bH08Ti84TrH7mhSKKFryBgib9zGf4x9wlFDxOBI">
<meta name="description" content="Order groceries online and get them at your doorstep in one hour. At Rabbit Drop we have formulated a technology driven convenience. Every household can make shopping lists and their items are delivered to their doorstep. Initially targeting Lahore, we aim to spread across Pakistan and provide a convenient solution for grocery shopping to everyone.">
<meta name="robots" content="rabbit drop , rabbit , drop , grocery, delivery, pakistan, lahore, convenient, urgent, online, shopping">

<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="keywords" content="rabbit, drop, grocery, shopping, online, convenience, lahore, pakistan">
<meta name="description" content="">
<link href="http://www.rabbitdrop.com/store" rel="canonical">
<link rel="shortcut icon" type="image/x-icon" href="http://beta.rabbitdrop.com/assets/icon-678f82651cec4037a4e42fbd031d85a5fd97596bbf367decab6552d0cb1e3af6.ico">
<link rel="stylesheet" media="screen" href="~/Content/stores.css">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="2Bc4WvFZgx2MSFBwrTWHwfZf4B93ZYZLPBWXLPKsELSlRBDZXypZaGk8oUIVCfAjn3sZJkd35oCLvJQ/hW0cSA==">
<script async="" src="~/Scripts/analytics.js"></script><script async="" src="~/Scripts/fbds.js"></script><script src="~/Scripts/allStrores.js"></script>




  <link rel="stylesheet" href="~/Content/font-awesome.min.css">

  <!-- Facebook Conversion Code for Adds to Basket - Usama K. Zafar 1 -->
  <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
      }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6033535047667', {'value':'0.00','currency':'PKR'}]);
  </script>
  <noscript>&lt;img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6033535047667&amp;amp;cd[value]=0.00&amp;amp;cd[currency]=PKR&amp;amp;noscript=1" /&gt;</noscript>
<script>

    $(function() {
        $(".cart-info").on("click",function(){
            $('#topgif').attr('src', '/assets/headergifs/wrabbitrun-ba8fe20269faf226a7588c1b7a9f1b5733e50a2c3faafe9d25eb15942cc3d040.gif'); // show on any Ajax event.
        });

         // hide it initially.
        $(document)
                .ajaxStart(function() {
                    $('#topgif').attr('src', '/assets/headergifs/wrabbitrun-ba8fe20269faf226a7588c1b7a9f1b5733e50a2c3faafe9d25eb15942cc3d040.gif');

                })
                .ajaxStop(function() {
                    $('#topgif').attr('src', '/assets/headergifs/wstaticrabbit-265b1af943668289bacb67e7819ac31641a0c9cb8b97359305fe84503c9cb881.png');
                });
    });


</script>
    
 
 </head>




<body class="one-col" id="default" data-hook="body" style="min-height: 800px;">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66022137-2', 'auto');
    ga('require', 'displayfeatures');
    
    ga('send', 'pageview');
  </script>


<script>
  $(document).ready(function() {
      $(function () {
          $('a').click(function () {
             // showloading=true;
                if (this.id == "categoriesdropdownlink" ||this.id == "carthidebutton" ){
                  return;
              }
              $('#topgif').attr('src', '/assets/headergifs/wrabbitrun-ba8fe20269faf226a7588c1b7a9f1b5733e50a2c3faafe9d25eb15942cc3d040.gif');
          });
      });
  });
     </script>


  <nav class="main-nav dark transparent stick-fixed">
    <div class="container-fluid navbar-inverse newnav full-wrapper relative clearfix newnav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="nav-logo-wrap local-scroll" style="margin-top:15px;">
            <a ><img style="height:50px;width:auto;" id="topgif" src="~/Images/tarseelLogo.png" alt="tarseelLogo"></a>
            <a ><img style="height:40px;width:auto;" src="~/Images/Cart.png" alt="Cart"></a>
        </div>

      </div>


      <ul class="nav navbar-nav navbar-right" style="margin:8px 0 0; height:70px;" id="cb1">

        <li class="nav navbar-nav" id="link-to-cart" data-hook=""><a class="cart-info empty" href="http://beta.rabbitdrop.com/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart: (Empty)</a></li>
        <script>Spree.fetch_cart()</script>
      </ul>


      <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 7px;">
        <!-- LINKS ON THE LEFT        <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                   DROPDOWN IF NEEDED <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Page 1-1</a></li>
                    </ul>
                  </li>
                   MORE LINKS IF NEEDED   <li><a href="#">Page 2</a></li>
                </ul>-->
        <ul class="nav navbar-nav navbar-right navbartexts">
          <!-- RIGHT LINKS
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  -->	


          <li class="dropdown">
            <a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle" id="categoriesdropdownlink" href="javascript:void(0);">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu" id="categoriesdropdown">


                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/drinkables">Drinkables</a>
                    <ul class="dropdown-menu">
                          <li><a href="http://beta.rabbitdrop.com/t/categories/drinkables/tea">Tea &amp; Coffee</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/drinkables/milk">Milk</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/drinkables/juices">Juices</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/drinkables/water">Water</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/drinkables/sodas">Sodas</a>



                          </li>




                    </ul>

                  </li>





                 




                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/toiletries">Toiletries</a>
                    <ul class="dropdown-menu">
                          <li><a href="http://beta.rabbitdrop.com/t/categories/toiletries/shampoo">Shampoo</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/toiletries/soap">Soap</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/toiletries/facewash-and-scrub">Facewash &amp; Scrub</a>



                          </li>






                    </ul>

                  </li>





                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/junk-food">Snacks</a>
                    <ul class="dropdown-menu">
                          <li><a href="http://beta.rabbitdrop.com/t/categories/junk-food/biscuits">Biscuits</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/junk-food/chips">Chips</a>



                          </li>




                    </ul>

                  </li>





                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/baby">Baby</a>
                    <ul class="dropdown-menu">
                          <li><a href="http://beta.rabbitdrop.com/t/categories/baby/baby-food">Baby Food</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/baby/baby-products">Baby Products</a>



                          </li>




                    </ul>

                  </li>





                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/household">Household</a>
                    <ul class="dropdown-menu">
                          <li><a href="http://beta.rabbitdrop.com/t/categories/household/air-fresheners">Air Fresheners</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/household/glass-cleaner">Glass Cleaner</a>



                          </li>






                          <li><a href="http://beta.rabbitdrop.com/t/categories/household/tissues">Tissues</a>



                          </li>




                    </ul>

                  </li>





                  <li class="dropdown dropdown-submenu"><a href="http://beta.rabbitdrop.com/t/categories/personal-care">Personal Care</a>
                    <ul class="dropdown-menu">
                         
                          <li><a href="http://beta.rabbitdrop.com/t/categories/toiletries/lotion-and-cream">Lotion &amp; Cream</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/personal-care/sanitary-pads">Sanitary Napkins</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/household/cotton-roll">Cotton Roll &amp; Ear Buds</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/personal-care/talcum-powder">Talcum Powder</a>



                          </li>




                          <li><a href="http://beta.rabbitdrop.com/t/categories/personal-care/sunblock">Sunblock</a>



                          </li>




                    </ul>

                  </li>






            </ul>
          </li>
          <li><a href="http://beta.rabbitdrop.com/lists">My Lists</a></li>

          

              <li> <a href="http://beta.rabbitdrop.com/login" class="toplinks">Login</a> </li>
          <li id="searchFieldinHeader">
            <a>


                <form id="newnavsearch" action="http://beta.rabbitdrop.com/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

                    <input type="search" name="keywords" id="searchField" placeholder="Search">
</form>

<!--
                <input type="search" placeholder="Search" id="searchField">
-->

            </a>

          </li>
        </ul>
      </div>

    </div>
  </nav>



    









        <div class="modal fade" id="offTimingModal" role="dialog" style="display: none;">
          <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Hello there</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                <p>Dear User, Our Instant services are available from 10am to 9pm PST Monday to Saturday</p><br>
                <p>But you can still use our 24-hour delivery service, The items you order now will be delivered to you on the next working day!</p>
                <br><p>Happy Shopping :)</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


        <script> $(document).ready(function(){
            
        });</script>





    <script>
      $(document).ready(function(){
          var ua = navigator.userAgent.toLowerCase();
          var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if(isAndroid) {
           $("#appModal").modal('show');
        }
        });


    </script>






<script>
  var showloading = false;/*
    $(window).scroll(function(){
        var sticky = $('.sticky');

        scroll = $(window).scrollTop();

        if (scroll >= 100) {
            sticky.addClass('fixed');
            if(showloading){

                $('#loading-indicator').css('display','block');
                $('#rabbitr').attr('src', '');
            }else{
                $('#loading-indicator').css('display','none');
                $('#rabbitr').attr('src', '');
            }
        }
        else {
            sticky.removeClass('fixed');
            if(showloading) {
                $('#loading-indicator').css('display', 'none');
                $('#rabbitr').attr('src', '');
            }else{
                $('#loading-indicator').css('display','none');
                $('#rabbitr').attr('src', '');
            }

        }
    });*/

    $("#cb1").hover(function() {
        //     $(this).addClass("blue");
        $('#cartbox').css('display','block');
    }, function() {

        $("#cartbox").hover(function() {

            $('#cartbox').css('style',' z-index:999999;');
        }, function() {
            $('#cartbox').css('display','none');
        });
       // $('#cartbox').hide('slow');
        // $('#cartbox').css('display','none');
    });



</script>
<div id="feedbackmodaldiv"></div>
<div id="customcart">
  
<!--<script>
    $(window).scroll(function(){
        var stickcart = $('.cartbox'),
        scroll = $(window).scrollTop();

        if (scroll >= 100) stickcart.addClass('fixedcart');
        else stickcart.removeClass('fixedcart');
    });

    if ($(window).scrollTop() >= 100) $('.cartbox').addClass('fixedcart');
</script>-->
<div id="cartboxHide">

<div class="cartbox panel panel-default" id="cartbox">
  <div class="cartheader" style="padding:0px;">
    <b>YOUR CART</b>
  </div>
  <div class="cartlist">





        <b style="text-align: center;">Your Cart is empty</b>


  </div>
    <div class="cartboxfooter panel panel-footer" style="margin-bottom: 0px;padding: 5px; text-align: right;">
      <a onclick="   $(&#39;#cartbox&#39;).hide(&#39;slow&#39;);" id="carthidebutton" class="btn btn-info btn-sm" href="javascript:void(0)">Hide Cart</a>
    <a class="btn btn-success" id="checkout-link" name="checkout" href="http://beta.rabbitdrop.com/checkout">Checkout</a>
      </div>
  </div>

</div>

</div>



<div class="modal fade " id="appModal" role="dialog">
  <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Get convenience on the go</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p>Have you tried our Android App?</p>
          <a href="market://details?id=com.root.rabbitdrop">
          <img src="./Rabbit Drop - Your Convenience Online - Instant Grocery Delivery in Lahore_files/playstoreimage-65eb6aaab1f46a92e134e5deafed059c2964356f8ea512491ac83c7c1333a436.png" alt="Playstoreimage 65eb6aaab1f46a92e134e5deafed059c2964356f8ea512491ac83c7c1333a436">
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>




<!-- Modal -->
<div id="productsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontentdiv">

      <div class="modal-header">

        <div id="popup-messages"></div>
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 id="headerpopuptext" class="modal-title">Product Detail</h4>
      </div>

      <div class="modal-body" id="modalll">

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>


<div class="container-fluid" id="" style="min-height:650px;">

    <img class="bgimg" src="~/Images/shopping_blur.jpg" alt="Shopping ">
  <div class="row" data-hook="">
    <br>
    <br>
    <br>
    <br>
    <br>
    

    

    <div id="content" class="col-sm-12" data-hook="">
      <div id="messages" style="position: fixed; top: 50px; margin: auto; z-index: 1; opacity: 500; display: none;"></div>
        <!--<div data-hook="homepage_sidebar_navigation">-->
  <!--</div>-->

<div data-hook="homepage_products">
    <div style="z-index: -1; width: 102%; margin:-2% 0 0 -1%;">
  <!-- Indicators -->
      <img style="width:100%;" alt=" " src="~/Images/slider4.jpg">


</div>
<!----------Items-------->



<div class="row" style="margin: -6% -1% auto; text-align: center; padding: 1%; overflow:hidden; background: rgba(19,175,198,0.9);">
  <div class="col-lg-12">
    <div class="input-group col-md-10" style="z-index:0; margin:auto;">
      <form id="searchFormNew" action="http://beta.rabbitdrop.com/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">



      <span class="input-group-btn">
        <input type="search" name="keywords" id="tipue_drop_input" class="form-control" placeholder="Waqt bachao, quick search karo" autocomplete="off" required="required">
        <button class="btn btn-default btn-info" type="button" onclick="$(&#39;#searchFormNew&#39;).submit();">Search</button>
      </span>
</form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div style="color:#FFF;"><b>QUICK SEARCH</b></div>
</div>

<div id="tipue_drop_content" class="col-lg-10" style="margin: -2.5% 8%; display: none;"></div>


<div class="gallery" id="gallery">
  <div class="container">
    <div class="gallery-main">
      <div class="gallery-top">


        <div class="block">



</div>



          <script>
            $(document).ready(function() {
                $('#tipue_drop_input').tipuedrop();
            });
        </script>

        <h3>CHOOSE YOUR FAVORITE AISLE</h3>
      </div>
      <div class="gallery-bott">


        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/toiletries" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
              <img class="img-responsive" src="~/Images/Toiletries.jpg" alt="Toiletries">
              <figcaption>
                <h4 class="gal"> Toiletries</h4>

              </figcaption>
            </figure>
          </a>
        </div>



        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/household" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
                <img class="img-responsive" src="~/Images/Household.jpg" alt="Household">
              <figcaption>
                <h4 class="gal"> Household</h4>

              </figcaption>
            </figure>
          </a>
        </div>



        

        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/personal-care" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
              <img class="img-responsive" src="~/Images/PersonalCare.jpg" alt="Personal care">
              <figcaption>
                <h4 class="gal"> Personal Care</h4>

              </figcaption>
            </figure>
          </a>
        </div>



        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/drinkables" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
                <img class="img-responsive" src="~/Images/Drinkables.jpg" alt="Drinkables">
              <figcaption>
                <h4 class="gal"> Drinkables</h4>

              </figcaption>
            </figure>
          </a>
        </div>



        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/junk-food" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
              <img class="img-responsive" src="~/Images/Snacks.jpg" alt="Snacks">
              <figcaption>
                <h4 class="gal"> Snacks</h4>

              </figcaption>
            </figure>
          </a>
        </div>



        <div class="col-md-3 col1 gallery-grid" style="max-width:490px;">
          <a href="http://beta.rabbitdrop.com/t/categories/baby" rel="title" class="b-link-stripe b-animate-go  thickbox" onclick="$(&#39;#loading-indicator&#39;).show().fadeOut(5000);">
            <figure class="effect-bubba">
              <img class="img-responsive" src="~/Images/Baby.jpg" alt="Baby">
              <figcaption>
                <h4 class="gal"> Baby</h4>

              </figcaption>
            </figure>
          </a>
        </div>




        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    jQuery(document).ready(function($) {




        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smoth-scrolling -->
<!--light-box-files -->





<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>




<script>




    (function($) {
        var ajaxRequestForSearch=null;
        $.fn.tipuedrop = function(options) {

            var set = $.extend( {

                'show'                   : 3,
                'speed'                  : 300,
                'newWindow'              : false,
                'mode'                   : 'json',
                'contentLocation'        : 'localhost:3000/api/products?q[name_cont]=nug'

            }, options);
            return this.each(function() {

                var tipuedrop_in = {
                    pages: []
                };
                $.ajaxSetup({
                    async: true
                });


                $(this).keyup(function(event) {
                    if (ajaxRequestForSearch != null)
                    {
                        ajaxRequestForSearch.abort();
                    }
                    getTipuedrop($(this));

                });

                function getTipuedrop($obj)
                {




                    if ($obj.val() && $obj.val().length>2)
                    {

                        var out = '<div class="tipue_drop_box"><div id="tipue_drop_wrapper">';


                        out += '<div class="tipue_drop_item"><div class="tipue_drop_left"></div><div class="tipue_drop_right">Loading</div></div>';



                        out += '</div></div>';

                        $('#tipue_drop_content').html(out);
                        $('#tipue_drop_content').fadeIn(set.speed);

                        ajaxRequestForSearch= $.ajax({
                            url: "/api/products?q[name_cont]="+$obj.val(),
                            type: 'GET',
                            success: function (data) {
                                var products=data["products"];
                                if(products.length>0){
                                    out = '<div class="tipue_drop_box" style="max-height: 300px ; overflow-y: scroll;"><div id="tipue_drop_wrapper">';
                                    for(var i=0;i<products.length;i++){
                                        master=products[i]["master"];
                                        productId=products[i]["id"]
                                        images=master["images"]
                                        productUrl="onclick=openProductsPopup('/products/"+productId+"')";
                                        if(images.length>0){
                                            out += '<a href="javascript:void(0);" '+productUrl+'  ><div class="tipue_drop_item"><div class="tipue_drop_left"><img src='+ images[0]["small_url"] +' class="tipue_drop_image"></div><div class="tipue_drop_right"> <h4>'+master["name"]+'</h4> </div><div class="tipue_drop_right"> <h4>'+master["display_price"]+'</h4> </div></div></a>';
                                        }else{
                                            out += '<a href="javascript:void(0);" '+productUrl+' ><div class="tipue_drop_item"><div class="tipue_drop_left"><img src="/assets/noimage/small-34061e2418f41e94f1a546c351a1a502cbe50d1de28a769c8054e797efdaa394.png" class="tipue_drop_image"></div><div class="tipue_drop_right"> <h4>'+master["name"]+'</h4> </div><div class="tipue_drop_right"> <h4>'+master["display_price"]+'</h4> </div></div></a>';
                                        }


                                    }
                                    submitForm='onclick=$("#searchFormNew").submit(); ';
                                    out += '<a href="javascript:void(0);" '+submitForm+' ><div class="tipue_drop_item"><div class="tipue_drop_left"></div><div class="tipue_drop_right"> <h4> View All Similar Results </h4> </div></div></a>';

                                    out += '</div></div>';
                                    $('#tipue_drop_content').html(out);
                                    $('#tipue_drop_content').fadeIn(set.speed);


                                }else{

                                    out = '<div class="tipue_drop_box" ><div id="tipue_drop_wrapper">';


                                    out += '<div class="tipue_drop_item"><div class="tipue_drop_left"></div><div class="tipue_drop_right">No Products Found !</div></div>';



                                    out += '</div></div>';

                                    $('#tipue_drop_content').html(out);
                                    $('#tipue_drop_content').fadeIn(set.speed);

                                }
                            }
                        });



                    }
                    else
                    {
                        $('#tipue_drop_content').fadeOut(set.speed);
                    }
                }

                $('html').click(function()
                {
                    $('#tipue_drop_content').fadeOut(set.speed);
                });

            });
        };

    })(jQuery);








</script>
</div>


    </div>


    

  </div>
</div>


<!-- Chat Box -->

<script src="~/Scripts/smooch.min.js"></script>

</script>
<style>
    #sk-container #sk-wrapper .sk-msg {
        background-color: #16dbe3 ;
    }
    #sk-container{
        background-color: #16dbe3 ;
        border: 2px solid rgba(255,255,255,0.9);
    }
    #sk-container #sk-wrapper .sk-msg::after {
        border-left-color: #FFF ;
        border-radius: 8px;
        background-color: #16bde3;
    }
    #sk-container #sk-header{
        border-left-color: #FFF ;
        background-color: #16bde3;
        color:#FFF;
    }
</style>




<!--  Chat Box End-->
<!-- Foter -->
<footer class="bg-gray-lighter footer pb-60 row" style="width: 101%; margin-bottom: 0px; padding: 1%;">

  <!--LEFT COLUMN-->
  <div class="col-md-4">

  </div>

  <!--MIDDLE COLUMN-->
  <div class="col-md-4">
    <!-- Social Links --><br><br>
    <div class="footer-social-links footer-icons mb-20 mb-xs-60">
     
    </div>
    <!-- End Social Links -->


   
     <!-- Copyright -->
    <div style="color:#FFF">
      <h5>© Tarseel 2016</h5>
    </div>
    <!-- End Copyright -->

    <div style="color:#FFF">
      <h7>#Jhakkkaaasss</h7>
    </div>


    <!-- End Footer Text -->
  </div>


  <!--RIGHT COLUMN-->


</footer>





<script>

      function openProductsPopup(url){



        $.ajax(
                {
                    url: url,
                    type: "GET",
                    success: function(data){

                        $("#modalll").html(data);
                        $("#add-to-cart-button").attr('class','btn btn-info')
                        $('#productsModal').modal('toggle');
                    }
                });
    }
    
    $("#messages").fadeTo(5000, 500).slideUp(500);


</script>


</body></html>